# World
world*

# ran commands
input.con

# Licence
eula.txt

# Cache
usercache.json

# Log
logs
crash-reports
plugins/*/logs
output.con

# dynmap
plugins/dynmap/web
plugins/dynmap/ids-by-ip.txt

# DiscordSRV's config with its token
plugins/DiscordSRV/config.yml
